In [4]:
import pandas as pd

In [5]:
df=pd.read_csv("Merge_Proccessed.csv")
df.columns

Index(['Transaction_Date', 'Description', 'Reference No./Cheque No.', 'Debit',
       'Credit', 'Balance', 'Transaction_Type', 'Transaction_Mode',
       'DR/CR_Indicator', 'Transaction_ID', 'Recipient_Name', 'Bank', 'UPI_ID',
       'Note'],
      dtype='object')

In [6]:
df.shape

(741, 14)

In [7]:
# df=df[['Description','Recipient Name','UPI ID','Note']]

In [8]:
company_keywords={
  "McDonald's": ["mcdonald", "mcd", "mc donalds"],
  "BurgerKing": ["burgerking", "burger king", "burgerkingindia"],
  "Dominos": ["dominos", "domino's"],
  "PizzaHut": ["pizzahut", "pizza hut"],
  "KFC": ["kfc", "kentucky fried chicken"],
  "Subway": ["subway sandwiches", "subway"],
  "Starbucks": ["starbucks", "starbucks coffee"],
  "JumboKing": [ "jumboki"],
  "Cafe Coffee Day": ["ccd", "cafe coffee day"],
  "Haldiram's": ["haldiram", "haldirams"],
  "Baskin Robbins": ["baskin robbins", "baskinrobbins"],
  
  "Swiggy": ["swiggy"],
  "Zomato": ["zomato"],
  "Dunzo": ["dunzo"],
  "Zepto": ["zepto"],
  "BigBasket": ["bigbasket", "big basket"],
  "Blinkit": ["blinkit", "grofers"],

  "Amazon": ["amazon", "amazon pay"],
  "Flipkart": ["flipkart"],
  "Myntra": ["myntra"],
  "Nykaa": ["nykaa"],
  "Ajio": ["ajio"],
  "Tata Cliq": ["tata cliq", "tatacliq"],
  "Reliance Digital": ["reliance digital"],
  "Croma": ["croma"],
  "Vijay Sales": ["vijay sales"],
  "Snapdeal": ["snapdeal"],
  "FirstCry": ["firstcry"],
  "Pepperfry": ["pepperfry"],

  "Netflix": ["netflix"],
  "Hotstar": ["hotstar", "disney hotstar"],
  "Amazon Prime": ["amazon prime", "prime video"],
  "Tata Sky": ["tatasky"],
  "Airtel DTH": ["airtel dth"],
  "Jio Cinema": ["jio cinema", "jio tv"],
  "BookMyShow": ["bookmyshow", "bms"],
  "SonyLIV": ["sonyliv"],
  "Zee5": ["zee5"],
  "Spotify": ["spotify"],
  "Apple Music": ["apple music"],
  "Gaana": ["gaana"],
  "Wynk Music": ["wynk music"],

  "Airtel": ["airtel", "airtelpay", "bharti a", "bhartia"],
  "Vodafone": ["vodafone", "vodapay", "vi india"],
  "Jio": ["jio", "reliance jio"],
  "BSNL": ["bsnl", "bharat sanchar nigam"],
  "ACT Fibernet": ["act fibernet", "act internet"],
  "Hathway": ["hathway", "hathway broadband"],
  "Spectra": ["spectra", "spectra internet"],

  "Uber": ["uber"],
  "Rapido": ["rapido"],
  "RedBus": ["redbus"],
  "MumbaiMetro": ["mumbaim","mumbai metro"],
  "IRCTC": ["irctc", "railway"],
  "Goibibo": ["goibibo"],
  "MakeMyTrip": ["makemytrip", "mmt"],
  "Cleartrip": ["cleartrip"],
  "Yatra": ["yatra"],
  "Air India": ["airindia"],
  "IndiGo": ["indigo"],
  "SpiceJet": ["spicejet"],
  "Vistara": ["vistara"],
  "Go First": ["go first", "goair"],

  "Bajaj Finserv": ["bajaj finserv", "bajaj finance"],
  "HDFC Bank": ["hdfc", "hdfc bank"],
  "ICICI Bank": ["icici", "icici bank"],
  "SBI": ["sbi", "state bank"],
  "Axis Bank": ["axis", "axis bank"],
  "Kotak Bank": ["kotak", "kotak mahindra"],
  "IDFC First Bank": ["idfc", "idfc first"],
  "IndusInd Bank": ["indusind", "indusind bank"],
  "Razorpay": ["razorpay"],
  
  "Zerodha": ["zerodha"],
  "Upstox": ["upstox"],
  "Groww": ["groww"],
  "Paytm Money": ["paytm money"],
  "ETMoney": ["etmoney"],
  "LIC": ["lic", "life insurance corporation"],
  "ICICI Lombard": ["icici lombard"],
  "HDFC Life": ["hdfc life"],
  "SBI Life": ["sbi life"],
  "Max Bupa": ["max bupa"],

  "Apollo Pharmacy": ["apollo pharmacy"],
  "1mg": ["1mg", "tata 1mg"],
  "NetMeds": ["netmeds"],
  "MedPlus": ["medplus"],
  "PharmEasy": ["pharmeasy"],

  "Cult.fit": ["cultfit", "cult fit"],
  "Decathlon": ["decathlon"],
  "Nike": ["nike"],
  "Adidas": ["adidas"],
  "Reebok": ["reebok"],

  "OYO Rooms": ["oyo", "oyo rooms"],
  "Airbnb": ["airbnb"],
  "Trivago": ["trivago"],
  "Thrillophilia": ["thrillophilia"],
  "Klook": ["klook"],

  "LinkedIn Premium": ["linkedin premium"],
  "Udemy": ["udemy"],
  "Coursera": ["coursera"],
  "Skillshare": ["skillshare"],
  "Adobe Creative Cloud": ["adobe cc"],
  "Microsoft Office 365": ["office365", "microsoft 365"],

  "GiveIndia": ["giveindia"],
  "Ketto": ["ketto"],
  "Milaap": ["milaap"],

  "BookMyShow": ["bookmyshow", "bms"],
  "Insider.in": ["insider", "insider in"],
  "EventsHigh": ["eventshigh"],
  "MeraEvents": ["meraevents"],
  "Explara": ["explara"]
}

In [9]:
from tqdm import tqdm

df['merged_text'] = (
    df['Recipient_Name'].fillna('').str.strip().str.lower() + " " + 
    df['UPI_ID'].fillna('').str.strip().str.lower()
).str.strip()


def map_to_company(text):
    for company, keywords in company_keywords.items():
        if any(keyword in text for keyword in keywords):
            return company

tqdm.pandas(desc="Mapping Companies")
df['Company'] = df['merged_text'].progress_apply(map_to_company)

print("✅ Processing complete!")

Mapping Companies: 100%|████████████████████| 741/741 [00:00<00:00, 9771.00it/s]

✅ Processing complete!

In [10]:
df['Company'].isna().sum()
df['Company'].unique()

array([None, 'Airtel', 'Netflix', 'SBI', 'MumbaiMetro', "McDonald's",
       'IRCTC', 'BurgerKing', 'JumboKing', 'Jio', 'Zomato', 'PizzaHut'],
      dtype=object)

In [11]:
filtered_df = df[df['Company'].notna() & (df['Company'] != "")]
len(filtered_df)

74

In [12]:
df

,Transaction_Date,Description,Reference No./Cheque No.,Debit,Credit,Balance,Transaction_Type,Transaction_Mode,DR/CR_Indicator,Transaction_ID,Recipient_Name,Bank,UPI_ID,Note,merged_text,Company
0,2024-04-02,TO TRANSFER-UPI/DR/409378221768/JULFIKAR/YESB/...,TRANSFER TO4897691162095,30.0,0.0,954.40,TO,UPI,DR,409378221768,JULFIKAR,YESB,paytmqr1jc,baker,julfikar paytmqr1jc,None
1,2024-04-04,BY TRANSFER-INBIMPS409519772968/9890160567/XX8...,MAM000078685023MAM000078685023,0.0,500.0,1454.40,BY,INB,CR,XX8237,9890160567,NaN,9890160567,Son-,9890160567 9890160567,None
2,2024-04-05,TO TRANSFER-UPI/DR/409652615602/VINAYAK /HDFC/...,TRANSFER TO4897694162092,64.0,0.0,1390.40,TO,UPI,DR,409652615602,VINAYAK,HDFC,vinayakpbh,UPI,vinayak vinayakpbh,None
3,2024-04-06,BY TRANSFER-INBIMPS409719092273/9890160567/XX8...,MAP000077101378MAP000077101378,0.0,1500.0,2890.40,BY,INB,CR,XX8237,9890160567,NaN,9890160567,Son-,9890160567 9890160567,None
4,2024-04-09,TO TRANSFER-UPI/DR/410014886005/BHARTI A/AIRP/...,TRANSFER TO4897691162095,719.0,0.0,2171.40,TO,UPI,DR,410014886005,BHARTI A,AIRP,airtelprep,Payme,bharti a airtelprep,Airtel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,2023-03-27,TO TRANSFER-UPI/DR/308658377002/SHUBHAM /BKID/...,TRANSFER TO5097572162095,80.0,0.0,1355.38,TO,UPI,DR,308658377002,SHUBHAM,BKID,shubhamraj,UPI,shubham shubhamraj,None
737,2023-03-29,TO TRANSFER-UPI/DR/308817813760/GUPTAGE/PYTM/p...,TRANSFER TO4692522162094,15.0,0.0,1340.38,TO,UPI,DR,308817813760,GUPTAGE,PYTM,paytmqr281,UPI,guptage paytmqr281,None
738,2023-03-29,TO TRANSFER-UPI/DR/308818878817/RESTAURA/HDFC/...,TRANSFER TO4696875162092,375.9,0.0,964.48,TO,UPI,DR,308818878817,RESTAURA,HDFC,burgerking,UPI,restaura burgerking,BurgerKing
739,2023-03-31,BY TRANSFER-INBIMPS309022656347/9890160567/XX8...,MAC001235046499MAC001235046499,0.0,150.0,1114.48,BY,INB,CR,XX8237,9890160567,NaN,9890160567,Son-,9890160567 9890160567,None
740,2023-03-31,TO TRANSFER-UPI/DR/309006157977/TECHANA/ICIC/t...,TRANSFER TO4692613162092,1000.0,0.0,114.48,TO,UPI,DR,309006157977,TECHANA,ICIC,techanalog,Payvi,techana techanalog,None

In [13]:
# def print_transaction_details(df):
#     """
#     Prints every row with all the extracted details from the DataFrame.
#     """
#     for index, row in df.iterrows():
#         print(f"Row {index}:")
#         for col in df.columns:
#             print(f"  {col}: {row[col]}")
#         print("-" * 50)  # Separator for better readability
# # print_transaction_details()
# print_transaction_details(filtered_df)