In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("Merge_Proccessed.csv")
df.columns

Index(['Transaction_Date', 'Description', 'Reference No./Cheque No.', 'Debit',
       'Credit', 'Balance', 'Transaction_Type', 'Transaction_Mode',
       'DR/CR_Indicator', 'Transaction_ID', 'Recipient_Name', 'Bank', 'UPI_ID',
       'Note'],
      dtype='object')

In [4]:
df.shape

(741, 14)

In [5]:
# df=df[['Description','Recipient Name','UPI ID','Note']]

In [6]:
company_keywords={
  "McDonald's": ["mcdonald", "mcd", "mc donalds"],
  "BurgerKing": ["burgerking", "burger king", "burgerkingindia"],
  "Dominos": ["dominos", "domino's"],
  "PizzaHut": ["pizzahut", "pizza hut"],
  "KFC": ["kfc", "kentucky fried chicken"],
  "Subway": ["subway sandwiches", "subway"],
  "Starbucks": ["starbucks", "starbucks coffee"],
  "JumboKing": [ "jumboki"],
  "Cafe Coffee Day": ["ccd", "cafe coffee day"],
  "Haldiram's": ["haldiram", "haldirams"],
  "Baskin Robbins": ["baskin robbins", "baskinrobbins"],
  
  "Swiggy": ["swiggy"],
  "Zomato": ["zomato"],
  "Dunzo": ["dunzo"],
  "Zepto": ["zepto"],
  "BigBasket": ["bigbasket", "big basket"],
  "Blinkit": ["blinkit", "grofers"],

  "Amazon": ["amazon", "amazon pay"],
  "Flipkart": ["flipkart"],
  "Myntra": ["myntra"],
  "Nykaa": ["nykaa"],
  "Ajio": ["ajio"],
  "Tata Cliq": ["tata cliq", "tatacliq"],
  "Reliance Digital": ["reliance digital"],
  "Croma": ["croma"],
  "Vijay Sales": ["vijay sales"],
  "Snapdeal": ["snapdeal"],
  "FirstCry": ["firstcry"],
  "Pepperfry": ["pepperfry"],

  "Netflix": ["netflix"],
  "Hotstar": ["hotstar", "disney hotstar"],
  "Amazon Prime": ["amazon prime", "prime video"],
  "Tata Sky": ["tatasky"],
  "Airtel DTH": ["airtel dth"],
  "Jio Cinema": ["jio cinema", "jio tv"],
  "BookMyShow": ["bookmyshow", "bms"],
  "SonyLIV": ["sonyliv"],
  "Zee5": ["zee5"],
  "Spotify": ["spotify"],
  "Apple Music": ["apple music"],
  "Gaana": ["gaana"],
  "Wynk Music": ["wynk music"],

  "Airtel": ["airtel", "airtelpay", "bharti a", "bhartia"],
  "Vodafone": ["vodafone", "vodapay", "vi india"],
  "Jio": ["jio", "reliance jio"],
  "BSNL": ["bsnl", "bharat sanchar nigam"],
  "ACT Fibernet": ["act fibernet", "act internet"],
  "Hathway": ["hathway", "hathway broadband"],
  "Spectra": ["spectra", "spectra internet"],

  "Uber": ["uber"],
  "Rapido": ["rapido"],
  "RedBus": ["redbus"],
  "MumbaiMetro": ["mumbaim","mumbai metro"],
  "IRCTC": ["irctc", "railway"],
  "Goibibo": ["goibibo"],
  "MakeMyTrip": ["makemytrip", "mmt"],
  "Cleartrip": ["cleartrip"],
  "Yatra": ["yatra"],
  "Air India": ["airindia"],
  "IndiGo": ["indigo"],
  "SpiceJet": ["spicejet"],
  "Vistara": ["vistara"],
  "Go First": ["go first", "goair"],

  "Bajaj Finserv": ["bajaj finserv", "bajaj finance"],
  "HDFC Bank": ["hdfc", "hdfc bank"],
  "ICICI Bank": ["icici", "icici bank"],
  "SBI": ["sbi", "state bank"],
  "Axis Bank": ["axis", "axis bank"],
  "Kotak Bank": ["kotak", "kotak mahindra"],
  "IDFC First Bank": ["idfc", "idfc first"],
  "IndusInd Bank": ["indusind", "indusind bank"],
  "Razorpay": ["razorpay"],
  
  "Zerodha": ["zerodha"],
  "Upstox": ["upstox"],
  "Groww": ["groww"],
  "Paytm Money": ["paytm money"],
  "ETMoney": ["etmoney"],
  "LIC": ["lic", "life insurance corporation"],
  "ICICI Lombard": ["icici lombard"],
  "HDFC Life": ["hdfc life"],
  "SBI Life": ["sbi life"],
  "Max Bupa": ["max bupa"],

  "Apollo Pharmacy": ["apollo pharmacy"],
  "1mg": ["1mg", "tata 1mg"],
  "NetMeds": ["netmeds"],
  "MedPlus": ["medplus"],
  "PharmEasy": ["pharmeasy"],

  "Cult.fit": ["cultfit", "cult fit"],
  "Decathlon": ["decathlon"],
  "Nike": ["nike"],
  "Adidas": ["adidas"],
  "Reebok": ["reebok"],

  "OYO Rooms": ["oyo", "oyo rooms"],
  "Airbnb": ["airbnb"],
  "Trivago": ["trivago"],
  "Thrillophilia": ["thrillophilia"],
  "Klook": ["klook"],

  "LinkedIn Premium": ["linkedin premium"],
  "Udemy": ["udemy"],
  "Coursera": ["coursera"],
  "Skillshare": ["skillshare"],
  "Adobe Creative Cloud": ["adobe cc"],
  "Microsoft Office 365": ["office365", "microsoft 365"],

  "GiveIndia": ["giveindia"],
  "Ketto": ["ketto"],
  "Milaap": ["milaap"],

  "BookMyShow": ["bookmyshow", "bms"],
  "Insider.in": ["insider", "insider in"],
  "EventsHigh": ["eventshigh"],
  "MeraEvents": ["meraevents"],
  "Explara": ["explara"]
}

In [12]:
import pandas as pd
from tqdm import tqdm

def map_to_company(text):
    for company, keywords in company_keywords.items():
        # Perform a case-insensitive check for each keyword
        if any(keyword.lower() in text for keyword in keywords):
            return company
    # Return None if no mapping is found
    return None

# Create merged_text by combining Recipient_Name and UPI_ID
df['merged_text'] = (
    df['Recipient_Name'].fillna('').str.strip().str.lower() + " " + 
    df['UPI_ID'].fillna('').str.strip().str.lower()
).str.strip()

tqdm.pandas(desc="Mapping Companies")
df['Company'] = df['merged_text'].progress_apply(map_to_company)

# Filter to keep only rows where Company is not None (i.e. a mapping was found)
df_categorized = df[df['Company'].notnull()].copy()

print("✅ Processing complete! Only categorized companies retained.")

Mapping Companies: 100%|███████████████████| 741/741 [00:00<00:00, 15690.13it/s]

✅ Processing complete! Only categorized companies retained.

In [13]:
df_categorized

,Transaction_Date,Description,Reference No./Cheque No.,Debit,Credit,Balance,Transaction_Type,Transaction_Mode,DR/CR_Indicator,Transaction_ID,Recipient_Name,Bank,UPI_ID,Note,Company,merged_text
4,2024-04-09,TO TRANSFER-UPI/DR/410014886005/BHARTI A/AIRP/...,TRANSFER TO4897691162095,719.0,0.0,2171.40,TO,UPI,DR,410014886005,BHARTI A,AIRP,airtelprep,Payme,Airtel,bharti a airtelprep
6,2024-04-10,TO TRANSFER-UPI/DR/410168592583/NETFLIX /HDFC/...,TRANSFER TO4897692162094,199.0,0.0,4472.40,TO,UPI,DR,410168592583,NETFLIX,HDFC,netflixupi,Month,Netflix,netflix netflixupi
29,2024-04-16,TO TRANSFER-UPI/DR/410752896719/IndianR/SBIN/r...,TRANSFER TO4897691162095,345.0,0.0,2178.02,TO,UPI,DR,410752896719,IndianR,SBIN,railsbiupi,Railw,SBI,indianr railsbiupi
43,2024-04-22,TO TRANSFER-UPI/DR/411363550608/MumbaiM/YESB/q...,TRANSFER TO4897690162095,100.0,0.0,940.02,TO,UPI,DR,411363550608,MumbaiM,YESB,q06492713@,UPI,MumbaiMetro,mumbaim q06492713@
57,2024-04-27,TO TRANSFER-UPI/DR/411807991116/BHARTI A/AIRP/...,TRANSFER TO4897695162091,265.0,0.0,2147.02,TO,UPI,DR,411807991116,BHARTI A,AIRP,airtelprep,Payme,Airtel,bharti a airtelprep
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,2023-01-13,TO TRANSFER-UPI/DR/301380894954/MumbaiM/PYTM/p...,TRANSFER TO5097887162097,200.0,0.0,2661.88,TO,UPI,DR,301380894954,MumbaiM,PYTM,paytmqr281,UPI,MumbaiMetro,mumbaim paytmqr281
698,2023-02-24,TO TRANSFER-UPI/DR/305563243213/PIZZAHUT/HDFC/...,TRANSFER TO4696931162090,628.0,0.0,1084.88,TO,UPI,DR,305563243213,PIZZAHUT,HDFC,pizzahut.2,UPI,PizzaHut,pizzahut pizzahut.2
710,2023-03-06,TO TRANSFER-UPI/DR/306577213702/MumbaiM/YESB/q...,TRANSFER TO5097533162091,200.0,0.0,956.88,TO,UPI,DR,306577213702,MumbaiM,YESB,q04393494@,UPI,MumbaiMetro,mumbaim q04393494@
715,2023-03-10,TO TRANSFER-UPI/DR/306909627537/RESTAURA/HDFC/...,TRANSFER TO4696928162095,94.5,0.0,1114.38,TO,UPI,DR,306909627537,RESTAURA,HDFC,burgerking,UPI,BurgerKing,restaura burgerking
738,2023-03-29,TO TRANSFER-UPI/DR/308818878817/RESTAURA/HDFC/...,TRANSFER TO4696875162092,375.9,0.0,964.48,TO,UPI,DR,308818878817,RESTAURA,HDFC,burgerking,UPI,BurgerKing,restaura burgerking

In [8]:
df['Company'].isna().sum()
df['Company'].unique()

array(['Uncategorized', 'Airtel', 'Netflix', 'SBI', 'MumbaiMetro',
       "McDonald's", 'IRCTC', 'BurgerKing', 'JumboKing', 'Jio', 'Zomato',
       'PizzaHut'], dtype=object)

In [10]:
filtered_df = df[df['Company'].notna() & (df['Company'] != "")]
len(filtered_df)

741

In [11]:
df

,Transaction_Date,Description,Reference No./Cheque No.,Debit,Credit,Balance,Transaction_Type,Transaction_Mode,DR/CR_Indicator,Transaction_ID,Recipient_Name,Bank,UPI_ID,Note,Company
0,2024-04-02,TO TRANSFER-UPI/DR/409378221768/JULFIKAR/YESB/...,TRANSFER TO4897691162095,30.0,0.0,954.40,TO,UPI,DR,409378221768,JULFIKAR,YESB,paytmqr1jc,baker,Uncategorized
1,2024-04-04,BY TRANSFER-INBIMPS409519772968/9890160567/XX8...,MAM000078685023MAM000078685023,0.0,500.0,1454.40,BY,INB,CR,XX8237,9890160567,NaN,9890160567,Son-,Uncategorized
2,2024-04-05,TO TRANSFER-UPI/DR/409652615602/VINAYAK /HDFC/...,TRANSFER TO4897694162092,64.0,0.0,1390.40,TO,UPI,DR,409652615602,VINAYAK,HDFC,vinayakpbh,UPI,Uncategorized
3,2024-04-06,BY TRANSFER-INBIMPS409719092273/9890160567/XX8...,MAP000077101378MAP000077101378,0.0,1500.0,2890.40,BY,INB,CR,XX8237,9890160567,NaN,9890160567,Son-,Uncategorized
4,2024-04-09,TO TRANSFER-UPI/DR/410014886005/BHARTI A/AIRP/...,TRANSFER TO4897691162095,719.0,0.0,2171.40,TO,UPI,DR,410014886005,BHARTI A,AIRP,airtelprep,Payme,Airtel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,2023-03-27,TO TRANSFER-UPI/DR/308658377002/SHUBHAM /BKID/...,TRANSFER TO5097572162095,80.0,0.0,1355.38,TO,UPI,DR,308658377002,SHUBHAM,BKID,shubhamraj,UPI,Uncategorized
737,2023-03-29,TO TRANSFER-UPI/DR/308817813760/GUPTAGE/PYTM/p...,TRANSFER TO4692522162094,15.0,0.0,1340.38,TO,UPI,DR,308817813760,GUPTAGE,PYTM,paytmqr281,UPI,Uncategorized
738,2023-03-29,TO TRANSFER-UPI/DR/308818878817/RESTAURA/HDFC/...,TRANSFER TO4696875162092,375.9,0.0,964.48,TO,UPI,DR,308818878817,RESTAURA,HDFC,burgerking,UPI,BurgerKing
739,2023-03-31,BY TRANSFER-INBIMPS309022656347/9890160567/XX8...,MAC001235046499MAC001235046499,0.0,150.0,1114.48,BY,INB,CR,XX8237,9890160567,NaN,9890160567,Son-,Uncategorized
740,2023-03-31,TO TRANSFER-UPI/DR/309006157977/TECHANA/ICIC/t...,TRANSFER TO4692613162092,1000.0,0.0,114.48,TO,UPI,DR,309006157977,TECHANA,ICIC,techanalog,Payvi,Uncategorized

In [13]:
# def print_transaction_details(df):
#     """
#     Prints every row with all the extracted details from the DataFrame.
#     """
#     for index, row in df.iterrows():
#         print(f"Row {index}:")
#         for col in df.columns:
#             print(f"  {col}: {row[col]}")
#         print("-" * 50)  # Separator for better readability
# # print_transaction_details()
# print_transaction_details(filtered_df)