In [35]:
import pandas as pd
pd.set_option('display.max_colwidth', None)  # Display full content of each column
pd.set_option('display.max_columns', None)   # Display all columns
pd.set_option('display.width', 5000)         # Set display width

Pdf-Csv
--

In [22]:
import pdfplumber

def pdf_to_csv(pdf_path,csv_path):
    # Read PDF file
    pdf = pdfplumber.open(pdf_path)

    df = pd.DataFrame()

    for i in range(len(pdf.pages)):
        table = pdf.pages[i].extract_table()
        local_df = pd.DataFrame(table[1:], columns=table[0])
        df = pd.concat([df, local_df], ignore_index=True)
    # Save to CSV
    df.to_csv(csv_path, index=False)

Csv-Organized
--

In [24]:
# pdf_path=""
# csv_path=""

# pdf_to_csv(pdf_path,csv_path)

# df=pd.read_csv(csv_path)

# df = df.replace('\n', '', regex=True)

# df = df.rename(columns={
#     'Txn Date': 'Transaction Date',
#     'Value\nDate': 'Value Date',
#     'Description': 'Description',
#     'Ref No./Cheque\nNo.': 'Reference No./Cheque No.',
#     'Debit': 'Debit',
#     'Credit': 'Credit',
#     'Balance': 'Balance'
# })

# df.to_csv(csv_path,index=False)

In [25]:
df=pd.read_csv('24-25.csv')

In [36]:
df

    Transaction Date  Value Date                                                      Description        Reference No./Cheque No.   Debit    Credit   Balance
0         2 Apr 2024  2 Apr 2024  TO TRANSFER-UPI/DR/409378221768/JULFIKAR/YESB/paytmqr1jc/baker-        TRANSFER TO4897691162095   30.00       NaN    954.40
1         4 Apr 2024  4 Apr 2024           BY TRANSFER-INBIMPS409519772968/9890160567/XX8237/Son-  MAM000078685023MAM000078685023     NaN    500.00  1,454.40
2         5 Apr 2024  5 Apr 2024    TO TRANSFER-UPI/DR/409652615602/VINAYAK /HDFC/vinayakpbh/UPI-        TRANSFER TO4897694162092   64.00       NaN  1,390.40
3         6 Apr 2024  6 Apr 2024           BY TRANSFER-INBIMPS409719092273/9890160567/XX8237/Son-  MAP000077101378MAP000077101378     NaN  1,500.00  2,890.40
4         9 Apr 2024  9 Apr 2024  TO TRANSFER-UPI/DR/410014886005/BHARTI A/AIRP/airtelprep/Payme-        TRANSFER TO4897691162095  719.00       NaN  2,171.40
..               ...         ...                                                              ...                             ...     ...       ...       ...
294       4 Nov 2024  4 Nov 2024    BY TRANSFER-UPI/CR/430929085524/SAMEER B/ICIC/sawant.123/UPI-       TRANSFERFROM4897733162090     NaN    300.00  1,244.81
295       4 Nov 2024  4 Nov 2024    TO TRANSFER-UPI/DR/430902812486/ZOMATO L/UTIB/zomatoorde/UPI-        TRANSFER TO4897691162095  295.78       NaN    949.03
296       5 Nov 2024  5 Nov 2024     TO TRANSFER-UPI/DR/467686807162/DILIPKU/YESB/paytmqr5wr/UPI-        TRANSFER TO4897692162094   79.00       NaN    870.03
297       5 Nov 2024  5 Nov 2024    TO TRANSFER-UPI/DR/431057312820/SHINDE R/COSB/shinderayc/UPI-        TRANSFER TO4897692162094   15.00       NaN    855.03
298       6 Nov 2024  6 Nov 2024    TO TRANSFER-UPI/DR/431165845160/Bombay B/UTIB/8850949354/UPI-        TRANSFER TO4897693162093   70.00       NaN    785.03

[299 rows x 7 columns]

In [28]:
print(df.iloc[0].to_string())

Transaction Date                                                                 2 Apr 2024
Value Date                                                                       2 Apr 2024
Description                 TO TRANSFER-UPI/DR/409378221768/JULFIKAR/YESB/paytmqr1jc/baker-
Reference No./Cheque No.                                           TRANSFER TO4897691162095
Debit                                                                                 30.00
Credit                                                                                  NaN
Balance                                                                              954.40

In [37]:
df.iloc[3]

Transaction Date                                                        6 Apr 2024
Value Date                                                              6 Apr 2024
Description                 BY TRANSFER-INBIMPS409719092273/9890160567/XX8237/Son-
Reference No./Cheque No.                            MAP000077101378MAP000077101378
Debit                                                                          NaN
Credit                                                                    1,500.00
Balance                                                                   2,890.40
Name: 3, dtype: object

In [43]:
import re

pattern = r"(?P<type>BY|TO) TRANSFER-(?P<method>UPI|INBIMPS|PMJJBYRENEWALSBIJB)\S*/(?P<id>\d+)/(?P<name>[^/]+)/(?P<bank>\S+)(?:/(?P<upi_id>[^/]+))?"

def extract_details(transaction):
    match = re.search(pattern, str(transaction))
    if match:
        return match.groupdict()
    return {"type": None, "method": None, "id": None, "name": None, "bank": None, "upi_id": None}

details_df = df["Description"].apply(extract_details).apply(pd.Series)

df = pd.concat([df, details_df], axis=1)


print("Processing complete. Extracted data saved as 'processed_transactions.csv'.")

Processing complete. Extracted data saved as 'processed_transactions.csv'.

In [46]:
df.columns

Index(['Transaction Date', 'Value Date', 'Description', 'Reference No./Cheque No.', 'Debit', 'Credit', 'Balance', 'type', 'method', 'id', 'name', 'bank', 'upi_id'], dtype='object')

In [106]:
for i in range(10):
    print(df["Description"][i])

TO TRANSFER-UPI/DR/409378221768/JULFIKAR/YESB/paytmqr1jc/baker-
BY TRANSFER-INBIMPS409519772968/9890160567/XX8237/Son-
TO TRANSFER-UPI/DR/409652615602/VINAYAK /HDFC/vinayakpbh/UPI-
BY TRANSFER-INBIMPS409719092273/9890160567/XX8237/Son-
TO TRANSFER-UPI/DR/410014886005/BHARTI A/AIRP/airtelprep/Payme-
BY TRANSFER-INBIMPS410117363707/9890160567/XX4470/Son-
TO TRANSFER-UPI/DR/410168592583/NETFLIX /HDFC/netflixupi/Month-
BY TRANSFER-UPI/CR/410101718201/VINAYAK /HDFC/vinayakpbh/UPI-
BY TRANSFER-UPI/CR/410122989383/ANUSHKA /SBIN/anushkashe/UPI-
BY TRANSFER-UPI/CR/410119294504/SHUBHAM /BKID/shubhamraj/wet a-

In [104]:
import re

pattern = r"(?P<type>BY|TO) TRANSFER-(?P<method>UPI|INBIMPS|PMJJBYRENEWALSBIJB)/(?P<drcr>DR|CR)/(?P<id>\d+)/(?P<name>[^/]+)/(?P<bank>[^/]+)(?:/(?P<upi_id>[^/-]+))?(?:/(?P<optional>[^/]+))?(?:/UPI-)?"

text = "TO TRANSFER-UPI/DR/409378221768/JULFIKAR/YESB/paytmqr1jc/baker-"
# text = "BY TRANSFER-INBIMPS409519772968/9890160567/XX8237/Son-"
# text = "TO TRANSFER-UPI/DR/409652615602/VINAYAK /HDFC/vinayakpbh/UPI-"


match = re.search(pattern, text)
if match:
    print(f"Transaction Type: {match.group('type')}")
    print(f"Transaction Mode: {match.group('method')}")
    print(f"DR/CR Indicator: {match.group('drcr')}")
    print(f"Transaction ID: {match.group('id')}")
    print(f"Recipient Name: {match.group('name')}")
    print(f"Bank Code: {match.group('bank')}")
    print(f"UPI ID: {match.group('upi_id') if match.group('upi_id') else 'N/A'}")
    print(f"Optional Data: {match.group('optional') if match.group('optional') else 'N/A'}")
else:
    print("No match found")

Transaction Type: TO
Transaction Mode: UPI
DR/CR Indicator: DR
Transaction ID: 409378221768
Recipient Name: JULFIKAR
Bank Code: YESB
UPI ID: paytmqr1jc
Optional Data: baker-

In [105]:
import re

pattern = r"(?P<type>BY|TO) TRANSFER-(?P<method>UPI|INBIMPS|PMJJBYRENEWALSBIJB)(?P<id>\d+)(?:/(?P<drcr>DR|CR))?/(?P<name>[^/]+)/(?P<bank>[^/]+)(?:/(?P<upi_id>[^/-]+))?(?:/(?P<optional>[^/]+))?(?:/UPI-)?"

text = "BY TRANSFER-INBIMPS409519772968/9890160567/XX8237/Son-"

match = re.search(pattern, text)

if match:
    print(f"Transaction Type: {match.group('type')}")
    print(f"Transaction Mode: {match.group('method')}")
    print(f"DR/CR Indicator: {match.group('drcr') if match.group('drcr') else 'N/A'}")
    print(f"Transaction ID: {match.group('id')}")
    print(f"Recipient Name: {match.group('name')}")
    print(f"Bank Code: {match.group('bank')}")
    print(f"UPI ID: {match.group('upi_id') if match.group('upi_id') else 'N/A'}")
    print(f"Optional Data: {match.group('optional') if match.group('optional') else 'N/A'}")
else:
    print("No match found")

Transaction Type: BY
Transaction Mode: INBIMPS
DR/CR Indicator: N/A
Transaction ID: 409519772968
Recipient Name: 9890160567
Bank Code: XX8237
UPI ID: Son
Optional Data: N/A

In [51]:
# df.head(20)

In [47]:
def print_transaction_details(df):
    """
    Prints every row with all the extracted details from the DataFrame.
    """
    for index, row in df.iterrows():
        print(f"Row {index}:")
        for col in df.columns:
            print(f"  {col}: {row[col]}")
        print("-" * 50)  # Separator for better readability

In [98]:
# print_transaction_details(df)

(0, 1)

In [114]:
df_by_final.shape

(0, 1)